@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground;
    min-width: 420px;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@layer components {
  .explanationBg {
    @apply fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 p-4;
  }
  
  .explanation {
    @apply bg-white rounded-lg shadow-lg p-6 max-w-md w-full max-h-screen overflow-y-auto text-sm text-gray-800;
  }
}

